body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.name-highlight {
    color: rgb(255, 50, 146);
}

.half-left {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-left img {
    width: 70%;
    float: right;
    margin: 3px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    font-size: 700;
}

.mid-area img {
    margin-right: 200px;
}

h3 {
    font-size: 25px;
}

.mid-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}