body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-highlight {
    color: rgb(255, 50, 146);
}

.half-left {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-left img {
    width: 70%;
}